%section#top-header.row
  %h1.col-md-2
    = link_to "Map It", home_path
  %form.col-md-5.navbar-form(action="")
    .form-group
    %ul
      %li.dropdown
        %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
          Welcome, Philip J. Fry
          %b.caret
        %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
          %li
            %a(href="#") Account
            %a(href="#") Plan and Billing
            %a(href="#") Sign Out
