%section.site_title
  %h1
    Make the maps you want!
    = link_to "Sign Up Now!", register_path
  %p.sign_up
  %p.sign_in
    Have an account? Please
    = link_to "Sign In", sign_in_path

%section.container
  .row.title.h3
    .small-12.column
      %h6 Map It - My practice project.
  .row
    .large-12.column
      %p Map It allows users to plot addresses on a map. Addresses can be saved and used later. 
      %p The application makes use of the Geocoder gem and the Google Static Maps API. It is an original app created independantly from scratch.
      %p Demo Account: username: tom@example.com password: password
      %p
      #{link_to "Source Code:", "https://github.com/tomtl/mapit"} Ideas/Contributions are welcome
