%section.my_queue.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          = bootstrap_form_for @location do |f|
            = f.text_field :address
            = f.submit "Update address"
